body {
    font-size: 15px;
  }
  
  button {
    background: #ffc600;
    border: 0;
    padding: 10px 20px;
  }
  
  img {
    max-width: 100%;
  }

  .top {
    display: grid;
    grid-gap: 20px;
    grid-template-areas: 
      "hero hero cta1"
      "hero hero cta2"
  }

  /* Flexbox usage here for Hero header, because that way the yellow background for the two items stops at the end of the content, 
  not at the end of the column as it would in Grid. */
  .hero {
    grid-area: hero;
    min-height: 400px;
    background: white url(images/taco.jpg);
    background-size: cover;
    background-position: bottom right;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
  }

  .hero > * {
    background: var(--yellow);
    padding: 5px;
  }

  .cta {
    display: grid;
    background-color: var(--yellow);
    align-content: center;
    justify-items: center;
  }

  .cta p {
    margin: 0;
  }

  .cta1 {
    grid-area: cta1;
  }

  .cta2 {
    grid-area: cta2;
  }

  .price {
    font-size: 60px;
    font-weight: 300;
  }
  /* Navigation */

  .menu ul {
    display: grid;
    grid-gap: 10px;
    padding: 0;
    margin: 20px 0;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .menu a {
    background-color: var(--yellow);
    display: block;
    text-decoration: none;
    padding: 10px;
    text-align: center;
    color: var(--black);
    text-transform: uppercase;
    font-size: 20px;

  }

  /* This will hide the Menu button until we adjust with Media queries. */
  [aria-controls="menu-list"] {
    display: none; 
  }

  /* Features */

  .features { 
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }

  .feature {
    background-color: white;
    padding: 10px;
    border: 1px solid white;
    text-align: center;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  }

  .feature .icon {
    font-size: 50px;
  }

  .feature p {
    color: rgba(0, 0, 0, 0.5)
  }